@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

.ant-input-search-button {
    height: 42.5px!important;
    width: 40px!important;
    background-color: #0958d9;
}

.anticon-search {
    color: #fff;
}

.ant-input-borderless:focus {
    outline: transparent!important;
}
.container {
    height: 450px;
    width: 45vw;
    perspective: 800px;
}
  
.container:hover > .card {
    cursor: pointer;
}
.card {
    position: relative;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}
.slideRight{
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(200px);
}
.appearLeft{
    transition: transform 0s ease-in-out, opacity 0s ease-in-out;
    transform: translateX(-400px);
}
.slideLeft{
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(-200px);
}
.appearRight{
    transition: transform 0s ease-in-out, opacity 0s ease-in-out;
    transform: translateX(400px);
}
.returnDis{
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(0px);
    opacity: 1;
}
.clicked {
    position: relative;
    transition: transform 500ms;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}
.frontCard {
  height: 450px;
  width: 45vw;
  box-shadow: 0 0.25rem 1rem 0 #2e385614;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    background-color: #fff;
}

.backCard{
    height: 450px;
    width: 45vw;
    box-shadow: 0 0.25rem 1rem 0 #2e385614;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    background-color: #fff;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.modal {
position: relative;
background: #fff;
width: 550px;
padding: 20px;
border-radius: 8px;
display: block;
justify-content: center;
}
.full-width-line {
    width: 100%;
    height: 2px; /* Set the height of the line as needed */
    background-color: rgb(205, 205, 205); /* Set the color of the line */
}

.ant-modal-footer .ant-btn {
    background-color: #3d5c98;
    color: #fff;
}
