@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-input-search-button {
    height: 42.5px!important;
    width: 40px!important;
    background-color: #0958d9;
}

.anticon-search {
    color: #fff;
}

.ant-input-borderless:focus {
    outline: transparent!important;
}


